<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%# 部分テンプレートでフォームを呼び出す%>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>